# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/Algo_lab-codes.iml
/misc.xml
/modules.xml
/vcs.xml
